body {
	background: url(../image/background.jpg) no-repeat; 
	background-size: 100% 100%;
	background-color: brown;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
}

.game-pane {
	background-color: rgb(100, 216, 237);
	border-style: solid;
	border-width: 1px;
	border-color: #ccc;
	box-shadow: 2px 2px 2px #ccc;
}

.turnnext {
	visibility: hidden;
}

.cell {
	background-color: #ccc;
	width: 1em;
	height: 1em;

	border-style: outset;

	text-align: center;

	user-select: none;
}

.clear {
	border-style: solid;
	border-color: #eee;
	background-color: #eee;
}

.cell.landmine {
	background: url(../image/bomb.jpg) no-repeat;
	background-size: 1em 1em;
}

.cell.landmine.exploded {
	background: url(../image/bomb.jpg) no-repeat;
	background-size: 1em 1em;
}

.cell.landmine.success {
	background: url(../image/smile.jpg) no-repeat;
	background-size: 1em 1em;
}

.undetermined {
	background: url(../image/flag.jpg)repeat;
	background-size: 1em 1em;
}